.terminal-window {
  background-color: #2e3440e5;
  backdrop-filter: blur(10px);
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.command-line {
  font-size: 28px;
}

.sh-command {
  color: #a3be8c;
}

.sh-directory {
  color: #81a1c1;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navigation-item {
  font-size: 28px;
  display: block;
  text-align: center;
  float: left;
  padding-left: 30px;
  padding-right: 20px;
  color: #81a1c1;
  font-weight: bold;
}

.nav-link {
  color: #81a1c1;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.text-section {
  margin: 40px;
  width: calc(100% - 140px);
  background-color: #434c5e;
  box-shadow: 0px 0px 5px 2px rgba(59, 66, 82, 1);
  padding: 30px;
}

.md-text {
  margin: 0px;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.footer-link {
  color: #eceff4;
}

body {
  background-image: url(background.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: "JetBrains Mono", "Lucida Console", monospace;
  margin: 0px;
}

p,
li {
  color: #eceff4;
  font-size: 20px;
}

footer {
  text-align: center;
  position: fixed;
  margin: auto;
  bottom: 5px;
  left: 0;
  right: 0;
}
