.heading {
    margin: auto;
    text-align: center;
}

body {
    background-color: #2e3440;
    font-family: "JetBrains Mono", "Lucida Console", monospace;
}

p, li {
    color: #eceff4;
}

h1 {
    color: #eceff4;
    font-size: 72px;
}

h2 {
    color: #eceff4;
}

h3 {
    color: #eceff4;
}

a {
    color: #88c0d0;
}